a.browse {
  display: block;
}
.photo {
  width: 90vh;
  margin: 0 auto;
}
.image {
  min-height: 400px;
  height: 90vh;
  max-height: 1020px;
  background-size: contain;
  background-repeat: no-repeat;
}
.metadata {
}
.title {
  font-style: italic;
}
.date {
  margin-left: 3px;
}
